html,body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// navbar

.navbar-default .navbar-nav > li > a{
  color: #34495e;
  font-size: 1.3em;
}
.navbar{
  border-radius: 0;
}
.navbar-default{
  border-color: none;
}

//hr border

.hrborder{
  width: 15%;
  border-color: #c8d9e5;
  border-width: 4px;
}


//main page

.header{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  background: url('/images/bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -222;
  opacity: 0.9;
}

.text-verticle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 0;
    h1{
      font-size: 3em;
    }
}


//gallery

.gallery{
padding: 50px 0;
background-color: #ecf0f1;
position: relative;
}

.fotorama__wrap {
    margin: 0 auto;
}


// about

.about {
    padding: 50px 0;
    // background-color: #ecf0f1;
    color: #333;
}

.lead{
  font-size: 1.5em;
  padding-bottom: 2.5em;
}

.clients{
  padding-bottom: 6em;
    img{
      height: 11em;
      width: 11em;
      padding-bottom: 1.5em;
    }
}

.players{
  padding-top: 3em;;
}


//video

.embed-responsive-16by9 {
    padding-bottom: 39.25%;
}
