html,body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// navbar
.navbar-default .navbar-nav > li > a{
  color: #34495e;
  font-size: 1.3em;
}
.navbar{
  border-radius: 0;
}
.navbar-default{
  border-color: none;
}


//main page
.header{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url('/images/bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -222;
  opacity: 0.9;
}

.text-verticle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 0;
    h1{
      font-size: 3em;
    }
    // background-color: #22B573;
}


// gallery page
